:root {
  color-scheme: light dark;
}

body {
    background-color: light-dark(rgb(250, 250, 248), rgb(22, 20, 23));
    color: light-dark(rgb(43, 41, 38), rgb(241, 241, 234)); 
    font-family: verdana;
    max-width: 800px;
    padding: 16px;
    margin: auto;
}

a:link, a:visited {
  color: light-dark(rgb(66, 46, 254), rgb(233, 115, 52));
  text-decoration: none;
}

a:hover, a:active {
  color: light-dark(rgb(147, 120, 255), rgb(255, 177, 52));
  text-decoration: none;
}

pre {
    tab-size: 2;
}

details {
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(135, 135, 135);
    background-color: light-dark(rgb(243, 243, 237), rgb(41, 37, 43));
}

details[open] summary {
  margin-bottom: 0.5em;
}

code {
    margin-left: 16px;
    margin-right: 16px;
}

img, video {
    display: block;
    max-height: 512px;
    max-width: 100%;
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    img {
        filter: invert(1);
    }
}

figcaption {
    font-size: 14px;
    font-style: italic;
    padding: 4px;
    text-align: center;
}
